<div class="clearfix">
  <%- form.label("login") %>
  <div class="input">
    <%- form.input("login") %>
  </div>
</div>
<div class="clearfix">
  <%- form.label("githubId") %>
  <div class="input">
    <%- form.input("githubId") %>
  </div>
</div>
<div class="clearfix">
  <%- form.label("email") %>
  <div class="input">
    <%- form.input("email") %>
  </div>
</div>
<div class="clearfix">
  <%- form.label("fullName") %>
  <div class="input">
    <%- form.input("fullName") %>
  </div>
</div>
<div class="clearfix">
  <%- form.label("gravatarId") %>
  <div class="input">
    <%- form.input("gravatarId") %>
  </div>
</div>
