<div class="page-header">
  <h1>Index of user</h1>
</div>

<table class="zebra-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Login</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% users.forEach(function (user) { %>
        <tr>
          <td><%- user.fullName %></td>
          <td><%- user.email %></td>
          <td><%- user.login %></td>
          <td>
            <%- link_to('Edit', path_to.edit_user(user), {class: 'btn primary'}) %>
            <%- link_to('Delete', path_to.user(user), {class: 'btn danger', method: 'delete', remote: true, jsonp: '(function (u) {location.href = u;})'}) %>
          </td>
        </tr>
    <% }); %>
  </tbody>
</table>
<hr/>

<div class="well">
  <%- link_to('New user', path_to.new_user, {class: 'btn'}) %>
</div>
